<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCAT Validator</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <h1>Dcat Validator</h1>

    <div id="app" class="container">
        <!-- Radio buttons for selection -->
        <div class="row">
            <label>
                <input type="radio" v-model="inputType" value="textarea"> Input RDF Text
            </label>
            <label>
                <input type="radio" v-model="inputType" value="file"> Upload RDF File
            </label>
            <label>
                <input type="radio" v-model="inputType" value="url"> Input RDF URL
            </label>
        </div>

        <!-- Conditional input fields based on radio selection -->
        <div class="row" v-if="inputType === 'textarea'">
            <label for="rdfTextarea">RDF:</label>
            <br>
            <textarea id="rdfTextarea" v-model="rdfText"></textarea>
        </div>

        <div class="row" v-if="inputType === 'file'">
            <label for="rdfFile">Upload RDF File:</label>
            <br>
            <input type="file" id="rdfFile" @change="handleFileUpload" ref="rdfFile">
            <div v-if="fileName">{{ fileName }}</div>
        </div>

        <div class="row" v-if="inputType === 'url'">
            <label for="rdfUrl">RDF URL:</label>
            <br>
            <input type="text" id="rdfUrl" v-model="rdfUrl">
        </div>

        <!-- Validate Button -->
        <div class="row">
            <button @click="validate">Validate</button>
        </div>

        <!-- Output Textarea -->
        <div class="row">
            <label for="outputTextarea">Output:</label>
            <br>
            <textarea id="outputTextarea" v-model="output" readonly></textarea>
        </div>

        <!-- Clear Buttons -->
        <div class="row">
            <button @click="clearOutput">Clear Output</button>
            <button @click="clearInput">Clear Input</button>
        </div>
    </div>

    <!-- Link to external JS file -->
    <script src="/static/validate.js"></script>
</body>
</html>